/******************************************************************************
 ##############################################################################
 #####                                                                    #####
 #####   Markdown StyleSheet of ui design BreadCard                       #####
 #####                                                                    #####
 #####     @author: Sukazyo Workshop                                      #####
 #####     @version： 1.0                                                 #####
 #####                                                                    #####
 ##############################################################################
 ******************************************************************************/

:root {
	
	--bcm-color-page-background: #ffffff;
	
	--bcm-color-font-base: #223b5c;
	--bcm-color-font-base-link: #409dff;
	--bcm-color-font-base-link-hover: #0033ff;
	--bcm-color-font-base-link-visited: #a27aeb;
	--bcm-color-font-base-link-visited-hover: #5a00ff;
	--bcm-color-font-base-link-focus-bg: #33aee92b;
	--bcm-color-font-base-mark: #257c78;
	--bcm-color-font-base-mark-bg: #ceff818a;
	
	--bcm-color-blockquote-focus: var(--bcm-color-seperator);
	--bcm-color-blockquote-foreground: #949da9;
	
	--bcm-color-list-item-marker-std: #949da9;
	
	--bcm-color-table-background: #f6f8fa;
	/*--bcm-color-table-background: #c7d4e5;*/
	--bcm-color-table-head-background: #77a6e0;
	--bcm-color-table-head-foreground: #f3f5f5;
	--bcm-color-table-foot-background: #e7eef7;
	--bcm-color-table-foot-foreground: #9dabba;
	
	--bcm-color-code-inline-background: #f1f1f1;
	--bcm-color-codeblock-background: #223b5c;
	--bcm-color-codeblock-foreground: aliceblue;
	
	--bcm-color-keyboard-background: #3764e2;
	--bcm-color-keyboard-foreground: #ecedf1;
	
	--bcm-color-seperator: #e2e5e8;
	
}

@media (prefers-color-scheme: dark) { :root {
	
	--bcm-color-page-background: #212526;
	
	--bcm-color-font-base: #f1f0ff;
	--bcm-color-font-base-link: #f5848e;
	--bcm-color-font-base-link-hover: #e84b58;
	--bcm-color-font-base-link-visited: #f59784;
	--bcm-color-font-base-link-visited-hover: #f54d4d;
	--bcm-color-font-base-link-focus-bg: #9e739a3d;
	--bcm-color-font-base-mark: #65b12a;
	--bcm-color-font-base-mark-bg: #648c758a;
	
	--bcm-color-blockquote-focus: var(--bcm-color-seperator);
	--bcm-color-blockquote-foreground: #928e96;
	
	--bcm-color-list-item-marker-std: #928e96;
	
	--bcm-color-table-background: #2d3134;
	--bcm-color-table-head-background: #d39292;
	--bcm-color-table-head-foreground: #484545;
	/*--bcm-color-table-foot-background: #e7eef7; !* not darkred yet *!*/
	/*--bcm-color-table-foot-foreground: #9dabba; !* not darkred yet *!*/
	
	--bcm-color-code-inline-background: #353537;
	--bcm-color-codeblock-background: #2d2a2d;
	/*--bcm-color-codeblock-foreground: aliceblue;*/
	
	--bcm-color-keyboard-background: #efb2bc;
	--bcm-color-keyboard-foreground: #5b3333;
	
	--bcm-color-seperator: #4b4849;
	
}}

:root {
	--bcm-element-href-anima-speed: 0.1s;
}

html {
	color: var(--bcm-color-font-base);
}

/*article * {*/
/*	margin-bottom: 1rem;*/
/*}*/

a {
	color: var(--bcm-color-font-base-link);
	text-decoration: none;
	transition:
			color var(--bcm-element-href-anima-speed),
			background-color var(--bcm-element-href-anima-speed);
	border-radius: 0.3rem;
}

a:hover {
	color: var(--bcm-color-font-base-link-hover);
}

a:visited {
	color: var(--bcm-color-font-base-link-visited);
}

a:visited:hover {
	color: var(--bcm-color-font-base-link-visited-hover);
}

a:focus-visible {
	background-color: var(--bcm-color-font-base-link-focus-bg);
	outline: none;
}

hr {
	background-color: var(--bcm-color-seperator);
	height: 0.25rem;
	border-radius: 1rem;
	width: 70%;
	border: none;
}

hr {
	margin-block-start: 3rem;
	margin-block-end: 3rem;
}

p,
h1, h2, h3, h4, h5, h6,
ul, ol, table,
pre {
	margin-block-start: 1.6rem;
	margin-block-end: 1.6rem;
	
	line-height: 1.6;
}

ul ul,
ol ul,
ul ol,
ol ol {
	margin-block-start: inherit;
	margin-block-end: inherit;
}

ul, ol {
	padding-inline-start: 1.2rem;
}

li::marker {
	color: var(--bcm-color-list-item-marker-std);
}

ol > li::marker {
	font-size: 0.65rem;
}

table {
	background: var(--bcm-color-table-background);
	border-radius: 0.5rem;
	border-spacing: 0.5rem;
}

table > thead > tr > :is(th, td) {
	background: var(--bcm-color-table-head-background);
	color: var(--bcm-color-table-head-foreground);
	border-radius: 0.3rem;
}

table > tfoot > tr > :is(th, td) {
	background: var(--bcm-color-table-foot-background);
	color: var(--bcm-color-table-foot-foreground);
	border-radius: 0.3rem;
}

/*table > thead,*/
/*table > tbody {*/
/*	margin: -0.5rem;*/
/*}*/

table > thead > tr > :is(th, td) {
	padding: 0.3rem;
}

table > :is(tbody, tfoot) > tr > :is(th, td) {
	padding: 0.5rem;
}

blockquote {
	margin-block-start: 2.6rem;
	margin-block-end: 2.6rem;
}

blockquote {
	position: relative;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-left: 0.88rem;
	color: var(--bcm-color-blockquote-foreground);
}

blockquote:before {
	content: "";
	position: absolute;
	top: -0.5rem;
	bottom: -0.5rem;
	left: 0;
	width: 0.25rem;
	border-radius: 0.5rem;
	background: var(--bcm-color-blockquote-focus);
}

code {
	padding: 0.2rem;
	border-radius: 0.3rem;
	background: var(--bcm-color-code-inline-background);
	font-size: 0.85rem;
}

:not(pre)>code[class*=language-] {
	padding: 0.2rem;
	border-radius: 0.3rem;
	background: var(--bcm-color-code-inline-background);
	font-size: 0.85rem;
}

pre {
	margin-left: 1.4rem;
	margin-right: 1.4rem;
	padding: 0.7rem 0;
	border-radius: 0.5rem;
	display: block;
	background: var(--bcm-color-codeblock-background);
	color: var(--bcm-color-codeblock-foreground);
	overflow: hidden;
	font-size: 14px;
}

pre[class*=language-] {
	margin-left: 1.4rem;
	margin-right: 1.4rem;
	padding: 0.7rem 0;
	font-size: 14px;
}

pre code {
	display: block;
	background: var(--bcm-color-codeblock-background);
	overflow-x: scroll;
	padding: 0.2rem 1.2rem 0.6rem;
	line-height: 1.4;
	font-size: 14px;
}

pre[class*=language-] code[class*=language-]  {
	font-size: 14px;
}

pre code::-webkit-scrollbar {
	-webkit-appearance: none;
	height: 0.25rem;
	border-radius: 0.5rem;
	background: none;
}

pre code::-webkit-scrollbar-thumb {
	height: 0.25rem;
	border-radius: 0.5rem;
	background: var(--color-scrollbar-main-foreground);
}

pre code::-webkit-scrollbar-track {
	height: 0.25rem;
	border-radius: 0.5rem;
	background: none;
	margin: 0.7rem;
}


kbd {
	background: var(--bcm-color-keyboard-background);
	border-radius: 50% 45% 0.1rem 0.2rem;
	color: var(--bcm-color-keyboard-foreground);
	font-weight: bold;
	padding: 0.2rem 0.25rem;
}

kbd + kbd {
	margin-inline-start: 0.25rem;
}

mark {
	background-color: var(--bcm-color-font-base-mark-bg);
	color: var(--bcm-color-font-base-mark);
	border-radius: 0.1rem;
}

img {
	max-width: 100%;
}
