:root {
	--color-graystyle-background: rgba(0, 0, 0, 0.07);
	--color-icon-in-background: white;
	--color-graystyle: rgba(0, 0, 0, 0.2);
	--color-nav-background-base: null;
}

.color-theme-1 {
	--color-graystyle-background: rgba(255, 255, 255, 0.48);
	--color-icon-in-background: black;
	--color-graystyle: rgba(135, 127, 106, 0.5);
	--color-nav-background-base: #1111111;
}

.color-theme-2 {
	--color-graystyle-background: rgba(29, 34, 63, 0.6);
	--color-icon-in-background: white;
	--color-graystyle: rgba(193, 198, 215, 0.2);
	--color-nav-background-base: #252737;
}

.fold > ul {
	max-height: 0;
	overflow: hidden;
	transition-duration: 0.5s;
}

.fold.on > ul {
	max-height: unset;
}

.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
	padding-left: 30px;
	cursor: pointer;
}

.book .book-summary .exc-trigger {
	position: absolute;
	left: 12px;
	top: 12px;
}

.book .book-summary .on > a .exc-trigger:before {
	content: "\f078";
}

.book .book-summary .exc-trigger:before {
	content: "\f054";
}

.book-summary ul.summary div.summary-container {
	padding: 0;
	max-height: 0;
	overflow: hidden;
}

.book-summary ul.summary div.summary-container.on {
	padding: 7px 0;
	max-height: unset;
}

.book-summary ul.summary li.divider.block-end {
	margin-top: 0;
	position: relative;
	overflow: unset;
}

.book-summary ul.summary li.divider.block-start {
	margin-bottom: 0;
}

.book-summary ul.summary li.divider.block-end .summary-container-icon {
	position: absolute;
	top: 1px;
	right: 20px;
	padding: 0 5px 2px;
	background: var(--color-graystyle-background);
	color: var(--color-icon-in-background);
	border-bottom: 0;
	border-radius: 0 0 5px 5px;
	z-index: 1000;
}

.book-summary ul.summary li.divider.block-end .summary-container-icon .fa:before {
	content: "\f078";
}

.book-summary ul.summary div.summary-container.on + li.divider.block-end {
	transform: rotateX(180deg);
}

.book .book-summary ul.summary li span.annotation {
	padding: 0;
	font-size: 0.2em;
	color: var(--color-graystyle);
}

.book .book-summary ul.summary li span.annotation:hover {
	text-decoration: none !important;
}

#book-search-input {
	background-color: var(--color-nav-background-base);
}

#page-container {
	transition-duration: 400ms;
}

#page-container.loading {
	opacity: 0.2;
}
